{% import "@Smalldb/data_collector/machine_macros.html.twig" as M %}

{% for state in states %}
	<table>
		{{ M.tableColumns() }}
		<thead>
		<tr>
			<th colspan="3" class="key">
				<big>
					State:
					{{ M.state(state) }}
				</big>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th colspan="2" class="key">Name</th>
			<td>{{ dump(state.name) }}</td>
		</tr>
		{{ M.dumpExtensions(state) }}
		</tbody>
	</table>
{% else %}
	<div class="empty">
		<p>No states defined.</p>
	</div>
{% endfor %}
